a {
  transition: all 0.15s ease;
}

/* text-yellow-500 */
a:hover {
  color: #F59E0B;
  text-decoration: none;
}

.text-orange {
  color: #F59E0B !important;
  fill: #F59E0B !important;
}

.top-neg-8 {
  top: -8px;
} 

.card-header .fa.text-orange,
.card .card-header .fas.text-orange {
  color: #ff5e3a;
  fill: #ff5e3a;
}

.introduction-bg {
  z-index: -1;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.upload-dropbox.upload-dropbox-drag{
  color: #fff;
  background-color: #20d862;
  border-color: #20d862;
  border-style: solid;
}

input[type="file"]{
  margin-top: 20px;
}

.hm-btn {
  background-color: rgb(243, 243, 138);
  border-width: 1px;
  border-radius: 10px;
  border-color: black;
  height: 2rem;
  padding: 10px;
}

/* .home-bg {
  animation: slide 50s linear infinite;
  will-change: background-position;
  background-image: url(../../public/assets/img/header.jpg);
} */

